node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
.env.*.local
attached_assets/Pasted-Supabase-Cyberedus-Free-Cyberedus-com-Connect-Enable-branching-Feedback-S-1748077009246.txt